# Virtual Environment
venv/
env/
.venv/
.env/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db